<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8" />
	<title>Poker Game WIP</title>

	<style> 
		* { padding: 0; margin: 0; }
		.button {
		  background-color: #4CBF50; /* Green */
		  border: 2px solid black;
		  border-radius: 10px;
		  color: white;
		  padding: 15px 32px;
		  text-decoration: none;
		  display: block;
		  font-size: 16px;
		  margin: 0 auto;
		  cursor: pointer;
		}

		.button:hover{
		  	background-color: #4CEF50;
		}

		.wrapper {
		    text-align: center;
		}

		.deal {width: 10%;height: 6%; font-size: 24px;}
		canvas {background: #eee; display: block; margin: 0 auto;}
	</style>
</head>
<body>
	<a href="http://localhost:5000/cool">Cool</a>
	<h2 align="center">Header1</h2>
	

<canvas id="myCanvas" width = "1280" height = "720"></canvas>

<div><button class = "button deal" onclick="deal()">Deal cards</button></div>

<script>
	var canvas = document.getElementById("myCanvas")
	var ctx = canvas.getContext("2d");
	var x = 0;
	var img = document.createElement("img");
	var table = document.createElement("img");
	var suits = ["C","D","H","S"]
	var numbers = ["2","3","4","5","6","7","8","9","10","J","Q","K","A"]

	img.src = numbers[Math.floor(Math.random()*13)]+suits[Math.floor(Math.random()*4)]+".png";
	table.src = "poker_table.png";
	function draw(){
		//drawing code
		ctx.clearRect(0,0,canvas.width,canvas.height);
		ctx.drawImage(table, 0, 0, canvas.width, canvas.height);
		ctx.drawImage(img, x, 10, 173, 264);
	}

	function deal(){
		img.src = numbers[Math.floor(Math.random()*13)]+suits[Math.floor(Math.random()*4)]+".png";
	}

	setInterval(draw, 10);
</script>

</body>
</html>