<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8" />
	<title>Poker Game WIP</title>

	<style> 
		* { padding: 0; margin: 0; }
		.button {
		  background-color: #4CBF50; /* Green */
		  border: 2px solid black;
		  border-radius: 10px;
		  color: white;
		  padding: 15px 32px;
		  text-decoration: none;
		  display: block;
		  font-size: 16px;
		  margin: 0 auto;
		  cursor: pointer;
		}

		.button:hover{
		  	background-color: #4CEF50;
		}

		.wrapper {
		    text-align: center;
		}

		.deal {width: 10%;height: 6%; font-size: 24px;}
		canvas {background: #eee; display: block; margin: 0 auto;}
	</style>
</head>
<body>
	<a href="http://localhost:5000/cool">Cool</a>
	<h2 align="center">Cheeky Bluffers</h2>
	

<canvas id="myCanvas" width = "1280" height = "720"></canvas>

<div><button class = "button deal" onclick="deal()">Deal cards</button></div>

<script>
	var showCards = true;
	var canvas = document.getElementById("myCanvas")
	var ctx = canvas.getContext("2d");
	var cards = [document.createElement("img"), document.createElement("img")];
	var table = document.createElement("img");
	var btn = document.createElement("img");
	var suits = ["C","D","H","S"]
	var numbers = ["2","3","4","5","6","7","8","9","10","J","Q","K","A"]

	btn.src = "DealerChip.png";
	cards[0].src = numbers[Math.floor(Math.random()*13)]+suits[Math.floor(Math.random()*4)]+".png";
	cards[1].src = numbers[Math.floor(Math.random()*13)]+suits[Math.floor(Math.random()*4)]+".png";
	table.src = "poker_table.png";
	function draw(){
		//drawing code
		ctx.clearRect(0,0,canvas.width,canvas.height);
		//draws poker table
		ctx.drawImage(table, 100, 50, canvas.width-200, canvas.height-180);
		draw_dealer_chip();
		draw_cards(575, 50)
	}

	function deal(){
		cards[0].src = numbers[Math.floor(Math.random()*13)]+suits[Math.floor(Math.random()*4)]+".png";
		cards[1].src = numbers[Math.floor(Math.random()*13)]+suits[Math.floor(Math.random()*4)]+".png";
	}

	function draw_cards(x, offset){
		for(i = 0; i < cards.length; i++){ 
			//document.write(i);
			ctx.drawImage(cards[i], x+offset*i, 500, 86, 132);
		}
	}

	function draw_dealer_chip(){
		ctx.drawImage(btn, canvas.width/2-25, 420, 50, 50);
	}

	setInterval(draw, 10);
</script>

</body>
</html>