<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8" />
	<title>Poker Game WIP</title>
	<style> 
		* { padding: 0; margin: 0; }
		canvas {background: #eee; display: block; margin: 0 auto;}
	</style>
</head>
<body>
	<h1 align="center">Header1</h1>


<canvas id="myCanvas" width = "480" height = "320"></canvas>

<script>
	var canvas = document.getElementById("myCanvas")
	var ctx = canvas.getContext("2d");
	var x = 0;
	var img = document.getElementById("scream");
	
	function draw(){
		//drawing code
		ctx.clearRect(0,0,canvas.width,canvas.height);
		x+=1;
		ctx.beginPath();
		ctx.rect(x, 10, 100, 40);
		ctx.strokeStyle = "rgba(0, 0, 255, 0.5)";
		ctx.stroke();
		ctx.closePath();


		ctx.drawImage(img, 10, 10);
	}
	setInterval(draw, 10);
</script>

</body>
</html>